{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<main>
    <section>
        <div class="text-center">
            <h1>
                {{ controller_name }}
            </h1>
            {% for tshirt in tshirts %}
            <p>{{ tshirt.id }} | {{ tshirt.couleur }} | {{ tshirt.taille }} | {{ tshirt.motif }}</p>
            <hr>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
